<?xml version='1.0' encoding='utf-8'?>
<widget id="my.com.cobragym.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>Cobra Gym</name>
    <description>We are 1st and only 24 hour gym in Malaysia</description>
    <author email="cobra" href="cobragym@hotmail.my">AGOTH Webmaster</author>

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.simplec.plugins.localnotification" />

	<icon src="res/icons/Icon.png" /
    
    <platform name="android">
        <icon src="res/icons/android/drawable-ldpi/Icon.png" density="ldpi" />
        <icon src="res/icons/android/drawable-mdpi/Icon.png" density="mdpi" />
        <icon src="res/icons/android/drawable-hdpi/Icon.png" density="hdpi" />
        <icon src="res/icons/android/drawable-xdpi/Icon.png" density="xhdpi" />
        <icon src="res/icons/android/drawable-xdpi/Icon.png" density="xxhdpi" />
        <splash src="res/screen/android/drawable-hdpi/splash.png" density="land-hdpi"/>
        <splash src="res/screen/android/drawable-ldpi/splash.png" density="land-ldpi"/>
        <splash src="res/screen/android/drawable-mdpi/splash.png" density="land-mdpi"/>
        <splash src="res/screen/android/drawable-xdpi/splash.png"land-xhdpi"/>
        
    <content src="http://cobragym.com.my" />
    <access origin="*" subdomains="true" />
</widget>
